<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>StorjStat Dashboard</title>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.0/solar/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='dashboard/dashboard.css') }}" rel="stylesheet" type="text/css" crossorigin="anonymous">
