<nav class="navbar navbar-dark fixed-top sticky-top bg-dark p-0 shadow">
  <div class="nav flex-sm-nowrap flex-md-nowrap flex-lg-nowrap w-100">
    <div class="nav col-sm-3 col-md-2 m-0 p-0 flex-nowrap">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand w-100 mr-0 text-center" href="{{ url_for('main.index') }}">{{ title }}</a>
    </div>

    <div class="nav flex-nowrap w-100">
      <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </div>

  <div class="collapse navbar-collapse fixed-top mt-5" id="navbarToggler">
    <ul class="navbar-nav text-center">
      <li class="nav-item">
        <a class="nav-link text-light bg-dark" href="{{ url_for('main.index') }}">
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
          <a class="nav-link text-light bg-dark" href="{{ url_for('api.get_status') }}">
              <span data-feather="box"></span>
              API <span class="sr-only">(current)</span>
          </a>
      </li>
    </ul>
  </div>
</nav>