{% extends "base.html" %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="container">
            <div class="img-thumbnail">
                <img src="{{ url_for('static', filename='images/2288270_0.jpg') }}" class="img-fluid" alt="Fluid image">
                <div class="caption text-center">
                    <p class="h1"><strong>Dis is not de wey bruddah</strong></p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
