<!doctype html>
<html lang="en">
  <head>
    {% include 'components/head.html' %}
  </head>

  <body>
    {% include 'components/nav.html' %}

    <div class="container-fluid">
      <div class="row">
        {% include 'components/sidebar.html' %}

        {% block content %}{% endblock %}
      </div>
    </div>

    {% include 'components/ending-scripts.html' %}
  </body>
</html>
